
main {
  padding: 120px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop-width);
}

@media screen and (max-width: 900px) {
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
}

section {
  margin-bottom: 64px;
}
#analysisControls {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#analyzeBtn {
  border: none;
  background-color: #215096ca;
  color: #fff;
  border-radius: 6px;
  padding: 10px 24px;
}

#analyzeBtn:enabled:hover {
  background-color: #215096;
  cursor: pointer;
}


footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #D9D9D9;

}

footer .wrapper {
  max-width: var(--desktop-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .wrapper > div {
  max-width: 980px;
  text-align: right;
}

footer p {
  margin: 0;
  color: var(--dark-gray);
  font-weight: 300;
}
footer div > p:first-child {
  font-size: 32px;
}
#footerIcon {
  width: 72px;
}